:root {
  --main-purple: #8828fe;
  --main-black: #211b4b;
  --main-gray: #ddd9d9;
  --main-white: #ffffff;
}

.main {
  min-height: 100vh;
  background-image: url(./blurry-gradient-haikei.svg);
  /* bottom */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  background-clip: border-box;
}

@import '~antd/dist/antd.css';

@font-face {
  font-family: climatefont;
  src: url(Climate_Crisis_Font_Ilmastofontti/ClimateCrisis-Variable.woff2);
}
@font-face {
  font-family: climatefont-1990;
  src: url(Climate_Crisis_Font_Ilmastofontti/Static_Fonts/ClimateCrisis-1990.woff2);
}
@font-face {
  font-family: climatefont-2000;
  src: url(Climate_Crisis_Font_Ilmastofontti/Static_Fonts/ClimateCrisis-2000.woff2);
}
@font-face {
  font-family: climatefont-2010;
  src: url(Climate_Crisis_Font_Ilmastofontti/Static_Fonts/ClimateCrisis-2010.woff2);
}
@font-face {
  font-family: climatefont-2020;
  src: url(Climate_Crisis_Font_Ilmastofontti/Static_Fonts/ClimateCrisis-2019.woff2);
}
@font-face {
  font-family: climatefont-2030;
  src: url(Climate_Crisis_Font_Ilmastofontti/Static_Fonts/ClimateCrisis-2030.woff2);
}

html,
body {
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
