.page {
  height: 70vh;
  background-image: url(../styles/blurry-gradient-haikei.svg);
  /* bottom */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
}

/* Main Page */
.titleimg {
  width: 360px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  margin-top: 10px;
}

.col {
  display: flex;
  flex-direction: column;
}

.xl {
  font-size: 50px;
  padding-top: 30px;
  margin: 0;
}

.l {
  color: var(--main-black);
  font-size: 40px;
  padding-top: 30px;
  margin: 0;
}

.m {
  margin-top: 30px;
  font-size: 20px;
}

.try {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: var(--main-white);
  background-color: var(--main-purple);
  width: 200px;
}

.try:hover {
  transition: 0.4s;
  color: var(--main-black);
  background-color: var(--main-white);
}

.features {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  width: 770px;
}
.content {
  padding-left: 50px;
}
.featureImg {
  width: 250px;
  margin-right: 50px;
}
.featureTitle {
  font-size: 20px;
}

/* Background */

.wave {
  position: absolute;
  /* bottom */
  bottom: 30vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  /* fill: aqua; */
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  margin-bottom: 0px;
}

.goals {
  padding: 50px;
  /* margin-top: */
  background-image: url(../styles/blurry-gradient-haikei.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.goalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
}

.bottom {
  margin: 0;
  background-color: var(--main-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .wave svg {
    width: calc(100% + 1.3px);
    height: 110px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .wave svg {
    width: calc(100% + 1.3px);
    height: 66px;
  }
}
