.options {
  background-image: url(../styles/blurry-gradient-haikei.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  background-clip: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drag:hover {
  border-style: dotted;
}

.dragActive {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: dotted;
}

.icon {
  font-size: 70px;
  color: var(--main-black);
}

.icon:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: var(--main-purple);
  cursor: pointer;
}

.record {
  height: 300px;
  width: 200px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file {
  display: none;
}

.title {
  font-size: 20px;
  color: var(--main-black);
}
