.component {
  background-color: grey;
  width: 100%;
  padding: 50px;
}

.noteName {
  background-color: lightcoral;
  font-size: 30px;
}

.noteIcon {
  background-color: khaki;
  font-size: 30px;
  cursor: pointer;
}

.noteText {
  background-color: lightcyan;
}

.input {
  width: 300px;
  height: 50%;
}
