.component {
  width: 100%;
  padding: 50px;
}

.iconBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteIcon {
  width: 50px;
  font-size: 50px;
  cursor: pointer;
  margin: 0;
}

.noteIcon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.trashcan {
  cursor: pointer;
  font-size: 25px;
}

.trashcan:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: var(--main-purple);
  cursor: pointer;
}

.noteTitle {
  background-color: var(--main-white);
  border-radius: 10px;
  font-size: 30px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleInput {
  border: 1px solid var(--main-gray);
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--main-white);
  width: 100%;
  height: 80px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 70%;
}

.noteText {
  font-size: 20px;
  background-color: var(--main-white);
  border-radius: 10px;
  padding: 50px;
  height: 70vh;
}

.textInput {
  padding: 50px;
  vertical-align: top;
  font-size: 20px;
  box-sizing: border-box;
  background-color: var(--main-white);
  opacity: 70%;
  border-radius: 10px;
  width: 100%;
  height: 70vh;
  text-align: start;
}

.extraInfo {
  display: flex;
  justify-content: space-between;
}
