.component {
  padding: 50px 150px 50px 150px;
}

/* small desktop */
@media (min-width: 1024px) and (max-width: 1300px) {
  .component {
    padding: 50px 70px 50px 70px;
    height: 100%;
    width: 100%;
  }
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .component {
    padding: 50px 60px 50px 60px;
    height: 100%;
    width: 100%;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .component {
    padding: 50px 30px 50px 30px;
    height: 100%;
    width: 100%;
  }
}

.iconBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteIcon {
  width: 50px;
  font-size: 50px;
  cursor: pointer;
  margin: 0;
}

.noteIcon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.trashcan {
  cursor: pointer;
  font-size: 25px;
}

.trashcan:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: var(--main-purple);
  cursor: pointer;
}

.noteTitle {
  background-color: var(--main-white);
  border-radius: 10px;
  font-size: 30px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titleInput {
  border: 1px solid var(--main-gray);
  border-radius: 10px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: var(--main-white);
  width: 100%;
  height: 80px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 70%;
}

.noteText {
  font-size: 20px;
  background-color: var(--main-white);
  border-radius: 10px;
  padding: 50px;
  height: 63vh;
  width: 100%;
}

.textInput {
  padding: 50px;
  vertical-align: top;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: var(--main-white);
  opacity: 70%;
  border-radius: 10px;
  width: 100%;
  height: 63vh;
  text-align: start;
}

.extraInfo {
  display: flex;
  justify-content: space-between;
}
