.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 30px 50px;
  position: sticky;
}

.logo {
  width: 100px;
  padding: 0;
  margin: 0;
}

.logo:hover {
  background-color: var(--main-gray);
  transition: 0.4s;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  width: 50%;
}

.menu a {
  color: var(--main-black);
  padding-right: 30px;
  font-size: 17px;
  text-decoration: none;
}

.menu a:hover {
  transition: 0.4s;
  color: var(--main-white);
}

.logo {
  margin-right: 50px;
  text-decoration: none;
}

.auth {
  display: flex;
  justify-content: space-around;
}

.auth a {
  color: var(--main-black);
  padding-right: 30px;
  font-size: 17px;
  text-decoration: none;
}

.auth a:hover {
  transition: 0.4s;
  color: var(--main-white);
}

/** For tablet devices **/
/* @media (min-width: 768px) and (max-width: 1023px) {
} */

/** For mobile devices **/
/* @media (max-width: 767px) {
} */
