.side {
  min-width: 220px;
  height: 100vh;
  resize: horizontal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.7);
}

.info {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--main-white);
  border-radius: 10px;
  margin: 10px;
}

.pic {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 70%;
}

.note {
  margin: 10px;
  padding: 10px;
}

.noteItem {
  display: flex;
  align-items: center;
  height: 30px;
}

.new {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--main-white);
  color: var(--main-black);
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

.new:hover {
  color: var(--main-white);
  background-color: var(--main-black);
  transition: 0.3s;
}

.icon {
  border: transparent;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 25px;
}

.icon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.title {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.selected {
  width: 100%;
  background-color: var(--main-white);
}

.titleBox {
  width: 100%;
}

.titleBox:hover {
  background-color: var(--main-white);
  transition: 0.5s;
}

.picker {
  display: none;
  position: absolute;
}

.listTitle {
  color: var(--main-black);
  background-color: transparent;
  border: transparent;
  width: 100%;
  height: 50px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* * For tablet & mobile devices * */
@media (max-width: 1023px) {
  .side {
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .noteItem {
    display: none;
  }
  /* .mobileItem {
    display: flex;
  } */
  .userItem {
    margin: 0;
  }
  .info {
    padding-left: 10px;
    padding-right: 25px;
    margin-left: 20px;
  }
  .listTitle {
    padding: 0;
    margin: 0;
    cursor: pointer;
    align-self: stretch;
  }
  .new {
    padding: 13px 40px 13px 40px;
    margin-right: 20px;
  }
}
